body {
  font-family: Verdana, sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}
h2 {
  font-size: 42px;
  font-weight: 300;
  color: white;
}
h3 {
  color: aquamarine;
  font-size: 16px;
}
a {
  color: aquamarine;
}
p {
  font-size: 21px;
  color: gray;
}
video {
  align-items: center;
}
